@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}

input {
  outline: none !important;
}

button {
  outline: none !important;
}