@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  overflow-x: hidden;
}

input {
  outline: none !important;
}

button {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 10px; /* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
  background: #222028; /* Màu nền của đường ray */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
  border-radius: 6px; /* Bo tròn các góc */
}