@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", system-ui;
  overflow-x: hidden;
}

input {
  outline: none !important;
}

button {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 10px; /* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
  background: #222028; /* Màu nền của đường ray */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
  border-radius: 6px; /* Bo tròn các góc */
}

/* Đảm bảo rằng Plyr thanh process bar full width trên mobile */
@media only screen and (max-width: 768px) {
  .plyr__progress__container {
    bottom: 57%;
    left: 0;
    position: absolute;
    width: 99% !important;
  }
}

// custom color plyr video

/* Thay đổi màu nút Play */
.plyr__control--overlaid {
  background-color: #f9ab00 !important;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #f9ab00 !important; 
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background-color: #f9ab00 !important; 
}

.plyr--full-ui input[type=range] {
  color: #f9ab00 !important;
}